<div id="cs-overlay" class="pi" style="z-index:{{zindex}}">
	<div class="pi-wrapper">
		<div class="pi-toolbar">
			<div class="pi-icon">URL:</div>
			<a class="pi-url" href="{{url}}" target="_blank">{{url}}</a>
			<div class="pi-close" onclick="popIframe()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path stroke="white" stroke-width="3px" d="M0 0l24 24M0 24L24 0"/></svg></div>
		</div>
		<iframe class="pi-content" allowfullscreen src="{{url}}"></iframe>
	</div>
</div>