@import url(variables.css);
@import url(helpers.css);
@import url(form.css);
@import url(noui.css);
@import url(circular-progress-button.css);

html {
	background-color: rgb(240,240,240); /* rgb(34,34,34); */
}


/* ---------------------------
	header
-------------------------- */
header {
	background: #083565; /* #2a2a2a; */
	border-bottom: 1px solid #404040;
}


/* ---------------------------
	powered by coursesuite
-------------------------- */
footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	background: #2a2a2a;
	border-top: 1px solid #404040;
	height: 18px;
	font-size: 12px;
	color: #999;
	text-shadow: none;
	text-align: center;
	padding-right: .5em;
	z-index: 9;
}
footer a {
	color: inherit;
}





/* .video-container::after {
	content: '';
	position: absolute;
	padding-top: 56.25%;
}

.video-element {
  position: absolute;
  width: 100%;
  top: 0;
  max-height: 100vh;
} */
















/* PLYR Hacks */
.plyr--vimeo > div > iframe {
    position: absolute;
    height: 100%;
    width: 100%;
}

.plyr--vimeo > .plyr__video-embed__container {
  padding-bottom: 56.25%;
}










/* #videoContainer {
	border:  2px dashed orange;
} */







/* mediaelement Hacks */
mediaelementwrapper > iframe {
  width: 100%;
  height: 100%;
}

/* Prevent poster being hidden on play */
/*.mejs__layer {
  display: block !important;
}*/













/* ---------------------------
	header top bar colours and sizing
-------------------------- */

.v2s-logo {
	height: 38px;
	width: auto;
}

.v2s-survey {
	background-color: #42b273;
}
.v2s-doco {
	background-color:  #2cb3ec;
}
.v2s-reset {
	background-color: #8341a0;
}



/* ---------------------------
	triangles between the page tabs
-------------------------- */

.v2s-nav-arrows > li > a {
	margin-right: 10px;
	border-radius: 4px;
}

.v2s-nav-arrows li.uk-active > a {
	background-color: #eda432 !important;
	color: white !important;
}

.v2s-nav-arrows > li:not(.uk-active) > a {
	background-color: rgba(255,255,255,.05) !important;
    color: rgba(255,255,255,.7);
}

.v2s-nav-arrows > li:not(:last-of-type):after {
	content: '';
    display: block;
    position: absolute;
    right: calc((10px + 1em) * -1);
    top: 5px;
    margin: 0 .5em;
    border: 10px solid transparent;
    border-left-color: rgba(255,255,255,.5);
}









/* popup iframe */
.pi {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pi .pi-wrapper {
	flex: 1;
	width:90%;
	max-width: 90vw;
	height:90%;
	max-height: 90vh;
	box-shadow:0 10px 25px rgba(0,0,0,.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f4f4f4;
	padding: 4px;
	border: 1px solid #e3e3e3;
}

.pi .pi-wrapper .pi-toolbar {
	display: flex;
	width: 100%;
}
.pi .pi-wrapper .pi-toolbar .pi-icon {
	padding: 4px;
}
.pi .pi-wrapper .pi-toolbar .pi-url {
	flex: 1;
	padding: 4px;
	display: block;
	background-color: white;
	text-decoration: underline;
	color: blue;
}
.pi .pi-wrapper .pi-toolbar .pi-close {
	background-color: #990000;
	padding: 4px;
}
.pi .pi-wrapper .pi-content {
	width: 100%;
	height: 100%;
}