@font-face {
  font-family: 'scormninja';
  src:  url('fonts/scormninja.eot?g1lle0');
  src:  url('fonts/scormninja.eot?g1lle0#iefix') format('embedded-opentype'),
    url('fonts/scormninja.ttf?g1lle0') format('truetype'),
    url('fonts/scormninja.woff?g1lle0') format('woff'),
    url('fonts/scormninja.svg?g1lle0#scormninja') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ninja-"], [class*=" ninja-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'scormninja' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ninja-download2:before {
  content: "\e904";
}
.ninja-switch:before {
  content: "\e908";
}
.ninja-validate:before {
  content: "\e902";
}
.ninja-brightcove:before {
  content: "\e903";
}
.ninja-soundcloud:before {
  content: "\e907";
}
.ninja-vimeo:before {
  content: "\e905";
}
.ninja-youtube:before {
  content: "\e906";
}
.ninja-paste:before {
  content: "\ec52";
}
.ninja-upload:before {
  content: "\ec8c";
}
.ninja-google-drive:before {
  content: "\eeee";
}
.ninja-box:before {
  content: "\e900";
}
.ninja-marker:before {
  content: "\e923";
}
.ninja-file-plus:before {
  content: "\e9a1";
}
.ninja-paste2:before {
  content: "\e9b7";
}
.ninja-keyboard:before {
  content: "\ea71";
}
.ninja-drop:before {
  content: "\ec8d";
}
.ninja-link:before {
  content: "\ec9b";
}
.ninja-help:before {
  content: "\ed56";
}
.ninja-reorder:before {
  content: "\ee3b";
}
.ninja-increase:before {
  content: "\eec5";
}
.ninja-decrease:before {
  content: "\eec6";
}
.ninja-dropbox:before {
  content: "\ef0d";
}
.ninja-design:before {
  content: "\e92a";
}
.ninja-book-play:before {
  content: "\e992";
}
.ninja-add-documents:before {
  content: "\e9a7";
}
.ninja-download:before {
  content: "\e9b9";
}
.ninja-reset:before {
  content: "\ea4b";
}
.ninja-floppy-disk3:before {
  content: "\ea8a";
}
.ninja-fiddle:before {
  content: "\eb5a";
}
.ninja-optimise:before {
  content: "\eb6b";
}
.ninja-discard:before {
  content: "\ebfa";
}
.ninja-completion:before {
  content: "\ec4e";
}
.ninja-basics:before {
  content: "\ec55";
}
.ninja-pointer:before {
  content: "\ed2d";
}
.ninja-warning:before {
  content: "\ed4c";
}
.ninja-info:before {
  content: "\ed60";
}
.ninja-cancel:before {
  content: "\ed62";
}
.ninja-close:before {
  content: "\ed6a";
}
.ninja-sort:before {
  content: "\ee45";
}
.ninja-split:before {
  content: "\eea2";
}
.ninja-progress:before {
  content: "\eedd";
}
.ninja-upload2:before {
  content: "\e901";
}

